.btn-primary {
  padding: 7px 60px;
  border-radius: 1.5rem;
  background-color: #072079;
}

.btn-secondary {
  padding: 7px 60px;
  border-radius: 1.5rem;
}

.form-select {
  width: 625px;
  border: 2px solid #072079;
}

.container {
  text-align: center;
}
